*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 'Poppins',sans-serif;
}

body{
    background: black;
}

.box{
    min-height: 450px;
    width: 500px;
    margin: 80px auto ;
    background: whitesmoke;
    border-radius: 40px;
}

.headin h2{
    padding: 10px 20px;
}

.search-here {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.search-here img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    display: block;
    border: 1px solid black;

}

#search-bar{
    height: 40px;
    width: 200px;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    
}

.weather-img img{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 130px;
    margin-top: 10px;
    
}

.cityName{
    margin-left: 140px;
    margin-top: 10px;
}
.temptogether{
    display: flex;
}

.temp{
    margin-left: 140px;
    margin-top: 10px;
}
.temptogether p{
    padding-left: 10px;
    padding-top: 10px;
}

.weather-details{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 10px;
}


